Repository antoncarlsson/cloudnews, pull requests merged in 2018-12, with the labels that each got.

#129 Date picker
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/FakeData.js
  frontend/src/components/App.vue
  frontend/src/components/DatePicker.vue
  frontend/src/components/DatePickerCalendar.vue
  frontend/src/components/DatePickerFooter.vue
  frontend/src/components/DatePickerHeader.vue
  frontend/src/components/DatePickerToggler.vue
  frontend/src/components/Drawer.vue
  frontend/src/components/DrawerHandle.vue
  frontend/src/components/DrawerNewsItem.vue
  frontend/src/components/NewsListItem.vue
  frontend/src/components/NewsSideBar.vue
  frontend/src/components/ToggleButton.vue
  frontend/src/components/ToggleButtons.vue
  frontend/src/store/constants.js
  frontend/src/store/helpers.js
  frontend/src/store/index.js
  frontend/src/store/modules/gui.js
  frontend/src/store/modules/news.js
  frontend/src/store/modules/time.js
  frontend/src/styles/Commons.scss
  frontend/src/styles/DatePicker.scss
  frontend/src/styles/DatePickerCalendar.scss
  frontend/src/styles/DatePickerFooter.scss
  frontend/src/styles/DatePickerHeader.scss
  frontend/src/styles/DatePickerToggler.scss
  frontend/src/styles/DrawerNewsItem.scss
  frontend/src/styles/ToggleButtons.scss
  frontend/src/styles/_variables.scss
  tests/middleware/http/CloudNews Middleware Post.postman_collection.json
  tests/middleware/http/CloudNews_Middleware.postman_collection.json
Labels: Vue

#139 City notifications
  frontend/src/assets/FakeData.js
  frontend/src/components/DrawerNewsItem.vue
  frontend/src/components/DrawerNewsList.vue
  frontend/src/components/Map.vue
  frontend/src/components/NewsListItem.vue
  frontend/src/components/Notifications.vue
  frontend/src/components/NotificationsCity.vue
  frontend/src/components/NotificationsCounty.vue
  frontend/src/components/NotificationsMunicipality.vue
  frontend/src/store/helpers.js
  frontend/src/store/modules/gui.js
  frontend/src/store/modules/locations.js
  frontend/src/store/modules/news.js
  frontend/src/styles/Commons.scss
  frontend/src/styles/DrawerNewsItem.scss
  frontend/src/styles/DrawerNewsList.scss
  frontend/src/styles/Map.scss
  frontend/src/styles/NotificationsCity.scss
  frontend/src/styles/NotificationsCounty.scss
  frontend/src/styles/NotificationsMunicipality.scss
  frontend/src/styles/_variables.scss
Labels: Vue

#141 Date picker
  frontend/src/store/modules/sockets.js
  frontend/src/store/modules/time.js
  frontend/src/store/webSocketConnection.js
Labels: Vue

#148 Misc styling
  frontend/src/assets/FakeData.js
  frontend/src/components/DatePickerToggler.vue
  frontend/src/components/Notifications.vue
  frontend/src/store/d3Zoom.js
  frontend/src/store/helpers.js
  frontend/src/store/modules/time.js
  frontend/src/styles/DatePickerToggler.scss
  frontend/src/styles/DrawerNewsItem.scss
  frontend/src/styles/DrawerNewsList.scss
  frontend/src/styles/Map.scss
  frontend/src/styles/NewsListItem.scss
  frontend/src/styles/Notifications.scss
  frontend/src/styles/ToggleButton.scss
Labels: Design

#150 Microservices
  microservices/frontend_container/Dockerfile
  microservices/mongodb_container/create_mongodb_container.sh
  microservices/mongodb_service/configure_repset_auth.sh
  microservices/mongodb_service/generate.sh
  microservices/mongodb_service/kube/mongodb-service.yaml
  microservices/polisen_container/Dockerfile
  microservices/test_service/auth_svc/Dockerfile
  microservices/test_service/auth_svc/index.js
  microservices/test_service/auth_svc/package.json
  microservices/test_service/expected_date_svc/Dockerfile
  microservices/test_service/expected_date_svc/index.js
  microservices/test_service/expected_date_svc/package.json
  microservices/test_service/invoices_svc/Dockerfile
  microservices/test_service/invoices_svc/index.js
  microservices/test_service/invoices_svc/package.json
  microservices/test_service/kube/ambassador.yaml
  microservices/test_service/kube/auth_svc.yaml
  microservices/test_service/kube/expected_date_svc.yaml
  microservices/test_service/kube/invoices_svc.yaml
  microservices/test_service/start_cluster.sh
  microservices/twitter_container/Dockerfile
Labels: microservices

#152 Update README
  frontend/README.md
Labels: structure

#156 Code unification
  frontend/.eslintrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/FakeData.js
  frontend/src/main.js
  frontend/src/store/constants.js
  frontend/src/store/d3Importer.js
  frontend/src/store/d3Zoom.js
  frontend/src/store/helpers.js
  frontend/src/store/index.js
  frontend/src/store/modules/gui.js
  frontend/src/store/modules/locations.js
  frontend/src/store/modules/news.js
  frontend/src/store/modules/sockets.js
  frontend/src/store/modules/time.js
  frontend/src/store/webSocketConnection.js
  frontend/webpack.config.js
Labels: structure

#155 Frontend
  frontend/.eslintrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/FakeData.js
  frontend/src/main.js
  frontend/src/store/constants.js
  frontend/src/store/d3Importer.js
  frontend/src/store/d3Zoom.js
  frontend/src/store/helpers.js
  frontend/src/store/index.js
  frontend/src/store/modules/gui.js
  frontend/src/store/modules/locations.js
  frontend/src/store/modules/news.js
  frontend/src/store/modules/sockets.js
  frontend/src/store/modules/time.js
  frontend/src/store/webSocketConnection.js
  frontend/webpack.config.js
Labels: Vue

#153 Scrape
  scraper/app/quartz.py
  scraper/app/routes.py
  scraper/app/threads.py
  scraper/requirements.txt
  scraper/scraper.py
  scraper/scrapers/data/tt_globals.py
  scraper/scrapers/svt.py
  scraper/scrapers/util/location_search.py
  scraper/scrapers/util/web_scraping.py
  test.py
Labels: scraping

#180 Requests integration frontend
  backend/middleware/.env
  backend/news-service/app.js
  frontend/.eslintrc.json
  frontend/src/components/App.vue
  frontend/src/components/DatePicker.vue
  frontend/src/components/DatePickerCalendar.vue
  frontend/src/components/DatePickerFooter.vue
  frontend/src/components/DatePickerHeader.vue
  frontend/src/components/DatePickerToggler.vue
  frontend/src/components/Drawer.vue
  frontend/src/components/DrawerHandle.vue
  frontend/src/components/DrawerNewsItem.vue
  frontend/src/components/DrawerNewsList.vue
  frontend/src/components/MainSection.vue
  frontend/src/components/Map.vue
  frontend/src/components/MapCities.vue
  frontend/src/components/NewsList.vue
  frontend/src/components/NewsListItem.vue
  frontend/src/components/NewsSideBar.vue
  frontend/src/components/Notifications.vue
  frontend/src/components/NotificationsCity.vue
  frontend/src/components/NotificationsCountry.vue
  frontend/src/components/NotificationsCounty.vue
  frontend/src/components/NotificationsMunicipality.vue
  frontend/src/components/ToggleButton.vue
  frontend/src/components/ToggleButtons.vue
  frontend/src/store/constants.js
  frontend/src/store/modules/news.js
  frontend/src/store/modules/sockets.js
  frontend/src/store/modules/time.js
  frontend/src/store/webSocketConnection.js
  polisen/app.js
  scraper/app/threads.py
  scraper/scrapers/util/location_search.py
  twitter/.env
Labels: Middleware, Vue, news-service

#182 News list improvements
  frontend/src/store/d3Zoom.js
  frontend/src/store/helpers.js
  frontend/src/store/modules/news.js
  frontend/src/store/modules/time.js
Labels: Vue

#183 fetch available news sources using API route #108
  backend/middleware/package-lock.json
  backend/middleware/package.json
  backend/middleware/src/Routes.js
  backend/middleware/src/SocketEvents.js
  backend/news-service/src/Routes.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/App.vue
  frontend/src/store/constants.js
  frontend/src/store/httpRequests.js
  frontend/src/store/modules/sockets.js
Labels: Vue, news-service

#184 Fixed city-key bug in frontend when multiple cities with same name #161
  frontend/src/components/NotificationsCity.vue
Labels: Vue

#186 Popup
  frontend/.eslintrc.json
  frontend/package.json
  frontend/src/assets/FakeData.js
  frontend/src/components/AboutPage.vue
  frontend/src/components/App.vue
  frontend/src/components/DatePicker.vue
  frontend/src/components/DatePickerCalendar.vue
  frontend/src/components/DatePickerFooter.vue
  frontend/src/components/DatePickerHeader.vue
  frontend/src/components/DatePickerToggler.vue
  frontend/src/components/DrawerContainer.vue
  frontend/src/components/DrawerHandle.vue
  frontend/src/components/DrawerNewsItem.vue
  frontend/src/components/DrawerNewsList.vue
  frontend/src/components/MainSection.vue
  frontend/src/components/MapCities.vue
  frontend/src/components/MapSVG.vue
  frontend/src/components/NewsList.vue
  frontend/src/components/NewsListItem.vue
  frontend/src/components/NewsSideBar.vue
  frontend/src/components/Notifications.vue
  frontend/src/components/NotificationsCity.vue
  frontend/src/components/NotificationsCounty.vue
  frontend/src/components/NotificationsMunicipality.vue
  frontend/src/components/PopUpContainer.vue
  frontend/src/components/ToggleButton.vue
  frontend/src/components/ToggleButtons.vue
  frontend/src/main.js
  frontend/src/store/constants.js
  frontend/src/store/d3Zoom.js
  frontend/src/store/helpers.js
  frontend/src/store/modules/gui.js
  frontend/src/store/webSocketConnection.js
  frontend/src/styles/AboutPage.scss
  frontend/src/styles/DatePicker.scss
  frontend/src/styles/DrawerNewsItem.scss
  frontend/src/styles/Main.scss
  frontend/src/styles/Map.scss
  frontend/src/styles/MapSVG.scss
  frontend/src/styles/NewsSideBar.scss
  frontend/src/styles/PopUpContainer.scss
  frontend/src/styles/_reset.scss
Labels: Vue

#187 Frontend testing
  frontend/.babelrc
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/store/helpers.js
  frontend/src/store/modules/time.js
  frontend/test/unit/helpers/helpers.test.js
Labels: Test

#190 Implemented virtual scroller so that only news items on screen are re…
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/NewsList.vue
  frontend/src/styles/NewsList.scss
  frontend/src/styles/NewsListItem.scss
Labels: Vue

#198 Requests handling frontend
  backend/middleware/.env
  backend/middleware/.eslintrc.js
  backend/middleware/app.js
  backend/middleware/package.json
  backend/middleware/src/MicroserviceHandler.js
  backend/middleware/src/client/Clients.js
  backend/middleware/src/client/ExternalEvents.js
  backend/middleware/src/client/ExternalHandler.js
  backend/middleware/src/client/ExternalRoutes.js
  backend/middleware/src/config/config.js
  backend/middleware/src/microservices/MicroserviceHandler.js
  backend/middleware/src/microservices/MicroserviceRoutes.js
  backend/middleware/src/requests/Requests.js
  backend/news-service/.env
  backend/news-service/.eslintrc.js
  backend/news-service/package.json
  backend/news-service/src/Requests.js
  backend/news-service/src/RouteHandler.js
  backend/news-service/src/Routes.js
  backend/news-service/src/ScraperHandler.js
  backend/news-service/src/config/config.js
  backend/news-service/src/database/DatabaseHandler.js
  backend/news-service/src/database/DatabaseInterface.js
  backend/news-service/src/scrapers/PolisenHandler.js
  backend/news-service/src/scrapers/ScraperHandler.js
  backend/news-service/src/scrapers/SvtHandler.js
  backend/news-service/src/utils.js
  frontend/package.json
  frontend/src/components/NotificationsCity.vue
  frontend/src/store/httpRequests.js
  frontend/src/store/index.js
  frontend/src/store/modules/connections.js
  frontend/src/store/modules/news.js
  frontend/src/store/webSocketConnection.js
Labels: Middleware, Vue

#203 Frontend testing
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/meta-info-sweden-cities.min.json
  frontend/src/assets/meta-info-sweden-counties.min.json
  frontend/src/assets/meta-info-sweden-municipalities.min.json
  frontend/src/components/Notifications.vue
  frontend/src/components/NotificationsCity.vue
  frontend/src/components/NotificationsMunicipality.vue
  frontend/src/store/modules/locations.js
  frontend/src/store/modules/news.js
  frontend/src/store/velocityAnimate.js
  frontend/src/styles/NotificationsCity.scss
  frontend/src/styles/NotificationsMunicipality.scss
  frontend/test/unit/helpers/helpers.test.js
Labels: Test, Vue

#201 Posting to news-service in chunks, and a page bugfix #195
  scraper/app/threads.py
  scraper/scrapers/retry_decorator.py
  scraper/scrapers/svt.py
Labels: scraping

#210 Frontend optimization
  frontend/src/components/App.vue
  frontend/src/components/Map/MapCities.scss
  frontend/src/components/Map/MapSVG.vue
  frontend/src/components/Notifications/Notifications.vue
  frontend/src/components/Notifications/NotificationsCity.vue
  frontend/src/components/Notifications/NotificationsCounty.scss
  frontend/src/components/Notifications/NotificationsCounty.vue
  frontend/src/components/Notifications/NotificationsMunicipality.vue
  frontend/src/helpers/d3Zoom.js
  frontend/src/helpers/importerD3.js
  frontend/src/helpers/velocityAnimate.js
  frontend/src/store/modules/news.js
Labels: Vue

#216 Front end optimizations #205
  frontend/assets/FakeDataInsaneDifferentCity.json
  frontend/assets/FakeDataInsaneSameCity.json
  frontend/src/components/App.vue
  frontend/src/components/Map/MapSVG.vue
  frontend/src/components/News/NewsListItem.vue
  frontend/src/components/Notifications/Notifications.vue
  frontend/src/components/Notifications/NotificationsCity.vue
  frontend/src/components/Notifications/NotificationsCounty.vue
  frontend/src/components/Notifications/NotificationsMunicipality.vue
  frontend/src/store/modules/gui.js
  frontend/src/store/modules/locations.js
  frontend/src/store/modules/news.js
Labels: Vue

#218 Hotfix #217
  frontend/src/components/Notifications/NotificationsCity.vue
  frontend/src/components/Notifications/NotificationsMunicipality.vue
Labels: bug

#225 Frontend optimization
  frontend/src/assets/meta-info-sweden-cities.min.json
  frontend/src/assets/meta-info-sweden-municipalities.min.json
  frontend/src/components/App.vue
  frontend/src/helpers/jsonLoader.js
  frontend/src/store/modules/locations.js
  frontend/src/store/modules/news.js
  frontend/webpack.config.js
Labels: Vue

#226 Frontend testing
  frontend/package.json
  frontend/src/components/App.vue
  frontend/src/helpers/misc.js
  frontend/src/store/modules/locations.js
  frontend/test/unit/helpers/misc.test.js
  frontend/test/unit/store/modules/connections.test.js
  frontend/test/unit/store/modules/gui.test.js
  frontend/test/unit/store/modules/locations.test.js
  frontend/test/unit/store/modules/news.test.js
  frontend/test/unit/store/modules/time.test.js
Labels: Test

#222 Twitter
  twitter/app.js
  twitter/package.json
  twitter/src/app.js
  twitter/src/assets/cities.json
  twitter/src/helpers/constants.js
  twitter/src/helpers/misc.js
  twitter/sweden.json
Labels: scraping

#227 Instructions for database init
  README.md
Labels: bug

#223 Polisen
  polisen/app.js
  polisen/package.json
  polisen/src/app.js
  polisen/src/assets/cities.json
  polisen/src/assets/counties.json
  polisen/src/assets/municipalities.json
  polisen/src/helpers/constants.js
  polisen/src/helpers/location.js
  polisen/src/helpers/misc.js
  polisen/src/helpers/news.js
  polisen/test/unit/polisens_nyheter_test.json
Labels: scraping

#231 Fixed issues with the Twitter service. #230
  twitter/env.js
  twitter/package.json
  twitter/src/app.js
  twitter/src/helpers/constants.js
  twitter/src/helpers/misc.js
Labels: scraping

#236 Polisen fix
  polisen/env.js
  polisen/src/app.js
  polisen/src/assets/counties.json
  polisen/src/helpers/constants.js
  polisen/src/helpers/location.js
  polisen/src/helpers/misc.js
  polisen/src/helpers/news.js
Labels: bug, scraping

#238 Added back url to Polisens formated news.
  polisen/src/helpers/news.js
Labels: bug, scraping

#229 Frontend
  frontend/assets/FakeDataInsaneDifferentCity.json
  frontend/assets/FakeDataInsaneSameCity.json
  frontend/package.json
  frontend/src/assets/meta-info-sweden-cities.min.json
  frontend/src/assets/meta-info-sweden-municipalities.min.json
  frontend/src/components/About/AboutPage.scss
  frontend/src/components/About/AboutPage.vue
  frontend/src/components/App.vue
  frontend/src/components/Map/MapCities.scss
  frontend/src/components/Map/MapSVG.vue
  frontend/src/components/News/NewsListItem.vue
  frontend/src/components/Notifications/Notifications.vue
  frontend/src/components/Notifications/NotificationsCity.vue
  frontend/src/components/Notifications/NotificationsCounty.scss
  frontend/src/components/Notifications/NotificationsCounty.vue
  frontend/src/components/Notifications/NotificationsMunicipality.vue
  frontend/src/helpers/d3Zoom.js
  frontend/src/helpers/importerD3.js
  frontend/src/helpers/jsonLoader.js
  frontend/src/helpers/misc.js
  frontend/src/helpers/velocityAnimate.js
  frontend/src/store/modules/connections.js
  frontend/src/store/modules/gui.js
  frontend/src/store/modules/locations.js
  frontend/src/store/modules/news.js
  frontend/test/unit/helpers/misc.test.js
  frontend/test/unit/store/modules/connections.test.js
  frontend/test/unit/store/modules/gui.test.js
  frontend/test/unit/store/modules/locations.test.js
  frontend/test/unit/store/modules/news.test.js
  frontend/test/unit/store/modules/time.test.js
  frontend/webpack.config.js
  twitter/package.json
  twitter/src/app.js
Labels: Test, Vue

#244 filter newslist by active news sources #243
  frontend/src/store/modules/connections.js
  frontend/src/store/modules/news.js
Labels: Vue
