Repository antoncarlsson/cloudnews, pull requests merged in 2018-11, with the labels that each got.

#25 Added a mock service for sending fake news for testing. #24
  backend/mock-services/get-news-article/index.js
  backend/mock-services/get-news-article/package.json
Labels: microservices

#30 Integrated D3 visualization with current vuejs app
  frontend/.babelrc
  frontend/.editorconfig
  frontend/.gitignore
  frontend/README.md
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/logo.png
  frontend/src/assets/sweden-counties.json
  frontend/src/assets/sweden-municipalities.json
  frontend/src/components/App.vue
  frontend/src/components/Main.vue
  frontend/src/components/Map.vue
  frontend/src/components/NewsSideBar.vue
  frontend/src/components/NewsSideBarItem.vue
  frontend/src/components/SettingsSideBar.vue
  frontend/src/main.js
  frontend/src/styles/App.scss
  frontend/src/styles/Main.scss
  frontend/src/styles/Map.scss
  frontend/src/styles/NewsSideBar.scss
  frontend/src/styles/NewsSideBarItem.scss
  frontend/src/styles/SettingsSideBar.scss
  frontend/webpack.config.js
Labels: D3.js, Vue

#46 Sass variables
  frontend/src/components/NewsSideBar.vue
  frontend/src/components/NewsSideBarItem.vue
  frontend/src/components/SettingsSideBar.vue
  frontend/src/styles/App.scss
  frontend/src/styles/Commons.scss
  frontend/src/styles/Map.scss
  frontend/src/styles/NewsSideBar.scss
  frontend/src/styles/NewsSideBarItem.scss
  frontend/src/styles/SettingsSideBar.scss
  frontend/src/styles/_reset.scss
  frontend/src/styles/_variables.scss
Labels: Design, Vue

#47 Backend
  README.md
  backend/middleware/.env
  backend/middleware/.eslintignore
  backend/middleware/.eslintrc.js
  backend/middleware/.npmrc
  backend/middleware/app.js
  backend/middleware/package-lock.json
  backend/middleware/package.json
  backend/middleware/prettier.config.js
  backend/middleware/src/MicroserviceHandler.js
  backend/middleware/websocketTest.js
  backend/mock-services/get-news-article/.env
  backend/mock-services/get-news-article/index.js
  backend/mock-services/get-news-article/package-lock.json
  backend/mock-services/get-news-article/package.json
  backend/src/REMOVE_THIS_FILE
Labels: Middleware

#48 Visualization - notifications and performance improvements
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/FakeData.js
  frontend/src/assets/europe-countries-meta-info.json
  frontend/src/assets/europe-countries.json
  frontend/src/assets/sweden-counties-meta-info.json
  frontend/src/assets/sweden-counties.json
  frontend/src/assets/sweden-municipalities-meta-info.json
  frontend/src/assets/sweden-municipalities.json
  frontend/src/components/App.vue
  frontend/src/components/Main.vue
  frontend/src/components/Map.vue
  frontend/src/styles/Main.scss
  frontend/src/styles/Map.scss
  frontend/src/styles/NewsSideBarItem.scss
  frontend/src/styles/_variables.scss
Labels: D3.js

#50 Mock services
  backend/mock-services/save-news-article/index.js
  backend/mock-services/save-news-article/package-lock.json
  backend/mock-services/save-news-article/package.json
Labels: microservices

#52 Drawer
  frontend/src/assets/DrawerArrows.png
  frontend/src/components/ActiveNewsItem.vue
  frontend/src/components/App.vue
  frontend/src/components/Drawer.vue
  frontend/src/components/DrawerHandle.vue
  frontend/src/components/DrawerNewsList.vue
  frontend/src/components/Main.vue
  frontend/src/components/Map.vue
  frontend/src/components/NewsList.vue
  frontend/src/components/NewsListItem.vue
  frontend/src/components/NewsSideBar.vue
  frontend/src/components/NewsSideBarItem.vue
  frontend/src/components/SettingsSideBar.vue
  frontend/src/styles/ActiveNewsItem.scss
  frontend/src/styles/App.scss
  frontend/src/styles/Commons.scss
  frontend/src/styles/Drawer.scss
  frontend/src/styles/DrawerHandle.scss
  frontend/src/styles/DrawerNewsList.scss
  frontend/src/styles/NewsList.scss
  frontend/src/styles/NewsListItem.scss
  frontend/src/styles/NewsSideBar.scss
  frontend/src/styles/SettingsSideBar.scss
Labels: D3.js, Design, Vue, structure

#57 Vue
  frontend/.babelrc
  frontend/.editorconfig
  frontend/.gitignore
  frontend/README.md
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/REMOVE_THIS_FILE
  frontend/src/assets/DrawerArrows.png
  frontend/src/assets/FakeData.js
  frontend/src/assets/europe-countries-meta-info.json
  frontend/src/assets/europe-countries.json
  frontend/src/assets/logo.png
  frontend/src/assets/sweden-counties-meta-info.json
  frontend/src/assets/sweden-counties.json
  frontend/src/assets/sweden-municipalities-meta-info.json
  frontend/src/assets/sweden-municipalities.json
  frontend/src/components/App.vue
  frontend/src/components/Drawer.vue
  frontend/src/components/DrawerHandle.vue
  frontend/src/components/DrawerNewsItem.vue
  frontend/src/components/DrawerNewsList.vue
  frontend/src/components/Main.vue
  frontend/src/components/Map.vue
  frontend/src/components/MapNotifications.vue
  frontend/src/components/NewsList.vue
  frontend/src/components/NewsListItem.vue
  frontend/src/components/NewsSideBar.vue
  frontend/src/main.js
  frontend/src/store/index.js
  frontend/src/styles/App.scss
  frontend/src/styles/Commons.scss
  frontend/src/styles/Drawer.scss
  frontend/src/styles/DrawerHandle.scss
  frontend/src/styles/DrawerNewsItem.scss
  frontend/src/styles/DrawerNewsList.scss
  frontend/src/styles/Main.scss
  frontend/src/styles/Map.scss
  frontend/src/styles/MapNotifications.scss
  frontend/src/styles/NewsList.scss
  frontend/src/styles/NewsListItem.scss
  frontend/src/styles/NewsSideBar.scss
  frontend/src/styles/_reset.scss
  frontend/src/styles/_variables.scss
  frontend/webpack.config.js
Labels: Vue

#61 Socket
  backend/middleware/package-lock.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/App.vue
Labels: Middleware, Vue

#68 Added postman http request #67
  tests/middleware/http/CloudNews_Middleware.postman_collection.json
Labels: Middleware

#66 Scrape
  .gitignore
  scraper/.flaskenv
  scraper/app/__init__.py
  scraper/app/quartz.py
  scraper/app/routes.py
  scraper/county_names
  scraper/news_json.py
  scraper/post.py
  scraper/scraper.py
  scraper/scrapers/__init__.py
  scraper/scrapers/svt/__init__.py
  scraper/scrapers/svt/api_structure.py
  scraper/scrapers/svt/lokala.py
  scraper/scrapers/svt/svt_region.py
  scraper/scrapers/svt/svt_scraping.py
  scraper/scrapers/tt/TT.py
  scraper/scrapers/tt/TTJSON.py
  scraper/scrapers/tt/scrape.py
Labels: scraping

#74 Frontend
  backend/middleware/package-lock.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/App.vue
  frontend/src/components/Drawer.vue
  frontend/src/components/DrawerHandle.vue
  frontend/src/components/MapNotifications.vue
  frontend/src/store/constants.js
  frontend/src/store/helpers.js
  frontend/src/store/index.js
  frontend/src/store/webSocketConnection.js
  frontend/src/styles/DrawerHandle.scss
Labels: Vue

#75 Middleware
  backend/middleware/.env
  backend/middleware/app.js
  backend/middleware/package-lock.json
  backend/middleware/package.json
  backend/middleware/src/Routes.js
  backend/middleware/websocketTest.js
Labels: Middleware

#76 Frontend
  backend/middleware/app.js
  frontend/package.json
  frontend/src/store/constants.js
  frontend/src/store/index.js
  frontend/src/store/webSocketConnection.js
  frontend/webpack.config.js
  tests/middleware/http/CloudNews_Middleware.postman_collection.json
Labels: Middleware, Vue

#82 Fixed zooming notification sizes and added back notifications animati…
  frontend/src/assets/FakeData.js
  frontend/src/components/Map.vue
  frontend/src/components/MapNotifications.vue
  frontend/src/components/NewsListItem.vue
  frontend/src/store/constants.js
  frontend/src/store/index.js
  frontend/src/styles/Map.scss
Labels: Vue

#86 Sockets
  frontend/src/store/constants.js
  frontend/src/store/index.js
  frontend/src/store/webSocketConnection.js
  tests/middleware/http/CloudNews_Middleware.postman_collection.json
Labels: Vue

#91 Notifications
  frontend/src/assets/cities.json
  frontend/src/components/Map.vue
  frontend/src/components/MapNotifications.vue
  frontend/src/components/Notifications.vue
  frontend/src/components/NotificationsCity.vue
  frontend/src/components/NotificationsCountry.vue
  frontend/src/components/NotificationsCounty.vue
  frontend/src/components/NotificationsMunicipality.vue
  frontend/src/store/index.js
  frontend/src/styles/MapNotifications.scss
  frontend/src/styles/NotificationsCity.scss
  frontend/src/styles/NotificationsCountry.scss
  frontend/src/styles/NotificationsCounty.scss
  frontend/src/styles/NotificationsMunicipality.scss
  frontend/src/styles/_variables.scss
Labels: D3.js, Design, Vue

#101 Frontend
  frontend/src/assets/FakeData.js
  frontend/src/assets/cities.json
  frontend/src/components/App.vue
  frontend/src/components/DrawerNewsItem.vue
  frontend/src/components/DrawerNewsList.vue
  frontend/src/components/Map.vue
  frontend/src/components/MapNotifications.vue
  frontend/src/components/NewsList.vue
  frontend/src/components/NewsListItem.vue
  frontend/src/components/Notifications.vue
  frontend/src/components/NotificationsCity.vue
  frontend/src/components/NotificationsCountry.vue
  frontend/src/components/NotificationsCounty.vue
  frontend/src/components/NotificationsMunicipality.vue
  frontend/src/store/constants.js
  frontend/src/store/index.js
  frontend/src/store/modules/gui.js
  frontend/src/store/modules/locations.js
  frontend/src/store/modules/news.js
  frontend/src/store/modules/sockets.js
  frontend/src/store/webSocketConnection.js
  frontend/src/styles/Commons.scss
  frontend/src/styles/DrawerNewsItem.scss
  frontend/src/styles/Map.scss
  frontend/src/styles/MapNotifications.scss
  frontend/src/styles/NotificationsCity.scss
  frontend/src/styles/NotificationsCountry.scss
  frontend/src/styles/NotificationsCounty.scss
  frontend/src/styles/NotificationsMunicipality.scss
  frontend/src/styles/_variables.scss
  tests/middleware/http/CloudNews_Middleware.postman_collection.json
Labels: Vue

#103 Notifications
  backend/middleware/package-lock.json
  frontend/src/components/NotificationsCounty.vue
  frontend/src/components/NotificationsMunicipality.vue
  frontend/src/styles/NotificationsMunicipality.scss
Labels: D3.js

#105 Source settings
  frontend/src/assets/FakeData.js
  frontend/src/components/App.vue
  frontend/src/components/NewsListItem.vue
  frontend/src/components/ToggleButton.vue
  frontend/src/components/ToggleButtons.vue
  frontend/src/store/constants.js
  frontend/src/store/modules/sockets.js
  frontend/src/styles/Map.scss
  frontend/src/styles/NewsListItem.scss
  frontend/src/styles/ToggleButton.scss
  frontend/src/styles/ToggleButtons.scss
Labels: Vue

#107 Frontend
  backend/middleware/package-lock.json
  frontend/package.json
  frontend/src/assets/FakeData.js
  frontend/src/components/App.vue
  frontend/src/components/DrawerNewsItem.vue
  frontend/src/components/DrawerNewsList.vue
  frontend/src/components/Map.vue
  frontend/src/components/NewsList.vue
  frontend/src/components/NewsListItem.vue
  frontend/src/components/Notifications.vue
  frontend/src/components/NotificationsCountry.vue
  frontend/src/components/NotificationsCounty.vue
  frontend/src/components/NotificationsMunicipality.vue
  frontend/src/components/ToggleButton.vue
  frontend/src/components/ToggleButtons.vue
  frontend/src/store/constants.js
  frontend/src/store/modules/gui.js
  frontend/src/store/modules/locations.js
  frontend/src/store/modules/news.js
  frontend/src/store/modules/sockets.js
  frontend/src/styles/DrawerNewsList.scss
  frontend/src/styles/Map.scss
  frontend/src/styles/NewsListItem.scss
  frontend/src/styles/NotificationsMunicipality.scss
  frontend/src/styles/ToggleButton.scss
  frontend/src/styles/ToggleButtons.scss
  frontend/webpack.config.js
Labels: Vue

#114 Zooming panning
  frontend/src/components/Map.vue
  frontend/src/components/NewsListItem.vue
  frontend/src/store/d3Zoom.js
  frontend/src/store/modules/gui.js
Labels: D3.js

#123 Cities
  backend/middleware/websocketTest.js
  frontend/assets/cities.json
  frontend/assets/cities2.json
  frontend/assets/counties2.json
  frontend/assets/europe-countries.json
  frontend/assets/europe-countries2.json
  frontend/assets/sweden-counties.json
  frontend/assets/sweden-counties2.json
  frontend/assets/sweden-municipalities.json
  frontend/assets/sweden-municipalities2.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/FakeData.js
  frontend/src/assets/europe-countries-meta-info.json
  frontend/src/assets/meta-info-europe-countries.json
  frontend/src/assets/meta-info-sweden-cities.json
  frontend/src/assets/meta-info-sweden-counties.json
  frontend/src/assets/meta-info-sweden-municipalities.json
  frontend/src/assets/sweden-counties-meta-info.json
  frontend/src/assets/sweden-municipalities-meta-info.json
  frontend/src/components/Map.vue
  frontend/src/components/MapCities.vue
  frontend/src/components/NewsListItem.vue
  frontend/src/components/Notifications.vue
  frontend/src/components/NotificationsMunicipality.vue
  frontend/src/store/d3Zoom.js
  frontend/src/store/modules/locations.js
  frontend/src/styles/Map.scss
  frontend/src/styles/MapCities.scss
  frontend/src/styles/_variables.scss
  scraper/app/__init__.py
  scraper/app/routes.py
  scraper/county_names
  scraper/requirements.txt
  scraper/scraper.py
  scraper/scrapers/__init__.py
  scraper/scrapers/data/constants.py
  scraper/scrapers/data/info/svt_api_structure.py
  scraper/scrapers/data/info/tt_json_obj.py
  scraper/scrapers/data/lan_kommun_tatort.py
  scraper/scrapers/data/svt_globals.py
  scraper/scrapers/data/tt_globals.py
  scraper/scrapers/svt.py
  scraper/scrapers/svt/__init__.py
  scraper/scrapers/svt/api_structure.py
  scraper/scrapers/svt/lokala.py
  scraper/scrapers/svt/svt_region.py
  scraper/scrapers/svt/svt_scraping.py
  scraper/scrapers/tt.py
  scraper/scrapers/util/location_search.py
  scraper/scrapers/util/time_checks.py
  scraper/scrapers/util/web_scraping.py
  sveriges_tatort.py
  tatort_info.json
Labels: D3.js, Vue

#126 Polisen
  polisen/.env
  polisen/app.js
  polisen/cities.json
  polisen/counties.json
  polisen/create_json.py
  polisen/municipalities.json
  polisen/package-lock.json
  polisen/package.json
  twitter/.env
  twitter/app.js
  twitter/cities.json
  twitter/package-lock.json
  twitter/package.json
  twitter/sweden.json
  twitter/tatorter.py
Labels: scraping

#127 Twitter
  twitter/.env
  twitter/app.js
  twitter/cities.json
  twitter/package-lock.json
  twitter/package.json
  twitter/tatorter.py
Labels: scraping
